[Unit]
Description=ASGI instance to serve website
After=network.target

[Service]
User=john
Group=www-data
WorkingDirectory=/home/john/django_website/website
Environment="PATH=/home/john/django_website/website/venv/bin"
ExecStart=daphne website.asgi:application

[Install]
WantedBy=multi-user.target
