{% extends 'base.html' %}

{% block title %}
{{ post.blog_title }}
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h3 class="display-4">{{ post.blog_title }}</h3>
        <h4 class="text-muted">{{ post.location }}</h4>
        <h6 class="text-secondary">{{ post.pub_date }}</h6>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <a href="{{ photo_url }}/site-content/{{ post.image }}">
                <img class="img-fluid rounded clickable-image" src="{{ photo_url }}/site-content/{{ post.image }}" alt="Blog image">
            </a>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="text-left">
                <p class="lead">{{ post.content }}</p>
                <p class="lead text-center"><a href="{{ post.website }}" target="_blank">{{ post.website }}</a></p>
                
                <hr>
                <p class="lead text-center mt-3">JJP's Rating:</p>
                <div class="rating-gauge">
                    <div class="gauge-track"></div>
                    <div class="gauge-progress" style="width: {{ post.rating|default:0 }}/5 * 100%;"></div>
                    <div class="gauge-label">{{ post.rating|default:0 }}/5</div>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            {% if previous_post %}
            <a href="{% url 'blog_post' previous_post.id %}" class="btn btn-outline-primary btn-lg rounded-pill mb-3 mr-2">
                <span class="d-inline-block">&larr;</span> {{ previous_post.blog_title }}
            </a>
            {% endif %}
            {% if next_post %}
            <a href="{% url 'blog_post' next_post.id %}" class="btn btn-outline-primary btn-lg rounded-pill mb-3 ml-2">
                {{ next_post.blog_title }} <span class="d-inline-block">&rarr;</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .rating-gauge {
        position: relative;
        width: 100%;
        height: 40px; /* Increased height for better visibility */
        background-color: #f0f0f0;
        border-radius: 20px; /* Rounded corners */
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    }

    .gauge-track {
        position: absolute;
        top: 50%; /* Center vertically */
        transform: translateY(-50%);
        height: 8px; /* Adjusted height for track */
        width: 100%;
        background-color: #ddd;
    }

    .gauge-progress {
        position: absolute;
        top: 50%; /* Center vertically */
        transform: translateY(-50%);
        height: 100%;
        background-color: #4CAF50;
        width: calc({{ post.rating|default:0 }}/5 * 100%);
        transition: width 0.6s ease;
    }

    .gauge-label {
        position: absolute;
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
        color: #333;
        font-size: 16px; /* Larger font size */
        font-weight: bold;
    }

    .rating-label {
        text-align: center;
        color: #666;
        font-size: 14px;
        margin-top: 10px; /* Space between gauge and label */
    }
</style>

{% endblock %}
