{% extends 'base.html' %}

{% block title %}
{{ post.blog_title }}
{% endblock %}

{% block content %}

<body>
    <div class="container text-center">
        <br><br><br>
        <h3>{{ post.blog_title }}</h3>
        <h5>{{ post.pub_date }}</h5>
        <br>
        <div class="row justify-content-md-center">
            <div class="col">
                <img class="img-responsive" src="{{ photo_url }}/site-content/{{ post.image }}" width=500>
            </div>
            <div class="col">
                {{ post.content }}
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}