{% extends 'base.html' %}

{% block title %}
{{ post.blog_title }}
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid text-center">
        <br><br><br>
        <h3>{{ post.blog_title }}</h3>
        <h5>{{ post.pub_date }}</h5>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ photo_url }}/{{ post.photo_name }}" width=500>
            </div>
            <div class="col-md-5">
                {{ post.content }}
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}