{% extends 'base.html' %}

{% block title %}
JJPBlog
{% endblock %}

{% block content %}

<body>
    <div class="container text-center">
        <br><br><br>
        <h3>JJPBlog</h3>
        <br>
        <div class="text-center col-sm">
            <p class="fw-lighter">
            In addition to taking photos, I enjoy documenting places to eat and visit
            during my travels, both to remind myself of the trips I've taken, and to
            hopefully help others when planning their own trips. Of course, all these
            opinions are solely my own, so take them under advisement...
            </p>
        </div>
        <br>
        {% if posts %}
        <div class="card-columns justify-content-md-center">
            {% for post in posts %}
            <a href="/blog_post/{{ post.id }}">
                <div class="card">
                    <img class="card-img-top" src="{{ photo_url }}/site-content/{{ post.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">{{ post.blog_title }}</h3>
                        <p class="card-text">Posted on: {{ post.pub_date }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <h4>No posts are available at this time. Please check back soon!</h4>
        <br>
        {% endif %}
    </div>

</body>

</html>

{% endblock %}