{% extends 'base.html' %}

{% block title %}
Cars
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid text-center">
        <br><br><br>
        <h3>Cars</h3>
        <br>
        
        <div class="row justify-content-center">
            <div class="col">
                <figure class="text-center">
                    <a href="/display_photos/1992_ford_f-150">
                        <img class="img-responsive" src="{{photo_url}}/red_truck.jpg" width=400>
                        <figcaption class="figure-caption">1992 Ford F-150 Custom</figcaption>
                    </a>
                </figure>
            </div>
            <div class="col">
                <figure class="text-center">
                    <a href="/display_photos/1964_ford_galaxie_500">
                        <img class="img-responsive" src="{{photo_url}}/galaxie.jpg" width=400>
                        <figcaption class="figure-caption">1964 Ford Galaxie 500</figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-sm">
                <figure class="text-center">
                    <a href="/display_photos/2021_ford_bronco">
                        <img class="img-responsive" src="{{photo_url}}/2021_ford_bronco/bronco.jpg" width=400>
                        <figcaption class="figure-caption">2021 Ford Bronco First Edition</figcaption>
                    </a>
                </figure>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <figure class="text-center">
                    <a href="/display_photos/2001_ford_f-350">
                        <img class="img-responsive" src="{{photo_url}}/green_truck.jpg" width=400>
                        <figcaption class="figure-caption">2001 Ford F-350 XLT</figcaption>
                    </a>
                </figure>
            </div>
        </div>
</body>

</html>

{% endblock %}