{% extends 'base.html' %}

{% block title %}
Cars
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid text-center">
        <br><br><br>
        <h3>Cars</h3>
        <br>

        <div class="row justify-content-center">
            {% for car in cars %}
                <div class="col-sm">
                    <figure class="text-center">
                        <a href="{{ photo_url }}/{{ car.name }}.jpg">
                            <img class="img-fluid" src="{{ photo_url }}/{{ car.name }}.jpg" width=400>
                            <figcaption class="figure-caption">{{ car.name }}</figcaption>
                        </a>
                    </figure>
                </div>
                {% if forloop.counter|divisibleby:"3" %}
                    </div>
                    <div class="row justify-content-center">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>

{% endblock %}