{% extends 'base.html' %}

{% block title %}
Travel
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid text-center">
        <br><br><br>
        <h3>Travel</h3>
        <br>
        <div class="text-center col-sm">
            <p class="fw-lighter">
            One of my favorite activities is traveling. I love to explore new places, 
            whether near home or abroad, and document my trips with photos. Below are
            some pictures from some of the various trips I've taken. My traveling goal 
            is to reach all seven continents during my lifetime. Three down, and four to go...
            </p>
        </div>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-sm">
                <figure class="text-center">
                    <a href="/display_photos/cross_country_september_2019">
                        <img class="img-responsive" src="{{photo_url}}/colorado_river.jpg" width=400>
                        <figcaption class="figure-caption">United States Cross-Country - August/September 2019</figcaption>
                    </a>
                </figure>
            </div>

            <div class="col-sm">
                <figure class="text-center">
                    <a href="{{photo_url}}/annecy.jpg">
                        <img class="img-responsive" src="{{photo_url}}/annecy.jpg" width=400>
                        <figcaption class="figure-caption">Switzerland/France - August 2019</figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <figure class="text-center">
                    <a href="/display_photos/europe_june_2019">
                        <img class="img-responsive" src="{{photo_url}}/monserrat.jpg" width=400>
                        <figcaption class="figure-caption">Europe - June 2019</figcaption>
                    </a>
                </figure>
            </div>

            <div class="col-sm">
                <figure class="text-center">
                    <a href="{{photo_url}}/donostia.jpg">
                        <img class="img-responsive" src="{{photo_url}}/donostia.jpg" width=400>
                        <figcaption class="figure-caption">Spain - March 2019</figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <figure class="text-center">
                    <a href="{{photo_url}}/katoomba.jpg">
                        <img class="img-responsive" src="{{photo_url}}/katoomba.jpg" width=400>
                        <figcaption class="figure-caption">Australia - March 2018</figcaption>
                    </a>
                </figure>
            </div>
        </div>
</body>

</html>

{% endblock %}