{% extends 'base.html' %}

{% block title %}
Food & Travel Blogs
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid text-center">
    <br><br><br>
    <h3>Food & Travel Blogs</h3>
    <br>

        {% if latest_post_list %}
            {% for post in latest_post_list %}
                <div class="row">
                    <div class="col-md-6 col-xs-6 text-right">
                        <img src="{{ photo_url }}/{{ post.photo_name }}" style="height: 350px;" />
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <a href="/food_travel_blog/{{ post.id }}">
                            <h3>{{ post.blog_title }}</h3><br>
                            <em>{{ post.pub_date }}</em><br>
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
        {% else %}
            <p>No posts are available.</p>
        {% endif %}
    </div>

</body>

</html>

{% endblock %}